_ReSharper.RagingRudolf.CodeFirst.UCommerce*/
packages/AutoMapper*/
packages/ClientDependency*/
packages/HtmlAgilityPack*/
packages/ImageProcessor*/
packages/Lucene*/
packages/Microsoft*/
packages/MiniProfiler*/
packages/MySql*/
packages/Newtonsoft*/
packages/SharpZipLib*/
packages/UmbracoCms.Core*/
packages/xmlrpcnet*/

source/Cms.Umbraco/obj*/
source/Cms.Umbraco/bin*/
source/Core/obj*/
source/Core/bin*/
source/Models/bin*/
source/Models/obj*/

*.suo