_ReSharper.RagingRudolf.CodeFirst.UCommerce*/
packages/AutoMapper*/
packages/ClientDependency*/
packages/HtmlAgilityPack*/
packages/Iesi.Collections*/
packages/ImageProcessor*/
packages/Lucene*/
packages/Microsoft*/
packages/MiniProfiler*/
packages/MySql*/
packages/Newtonsoft*/
packages/NHibernate*/
packages/SharpZipLib*/
packages/UmbracoCms.Core*/
packages/xmlrpcnet*/
packages/NUnit*/

source/Cms.Umbraco/obj*/
source/Cms.Umbraco/bin*/
source/Core/obj*/
source/Core/bin*/
source/Models/bin*/
source/Models/obj*/
source/Tests/obj*/
source/Tests/bin*/

*.suo
*.user